
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <title>AraDQ Analyze</title>
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/aradq.css') }}" rel="stylesheet">      
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>

    <header>
      <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4 class="text-white">About AraDQ Analyze</h4>
              <p class="text-muted">AraDQ Analyze is ...</p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
              <h4 class="text-white">Information</h4>
              <ul class="list-unstyled">
                <li><a href="#" class="text-white">How to use</a></li> 
                <li><a href="https://www.cameratrax.com/color_balance_2x3.php" class="text-white">ColorCard</a></li>
                <li><a href="#" class="text-white">Email us</a></li>

              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
          <a href="#" class="navbar-brand d-flex align-items-center">
         
            <strong>AraDQ Analyze</strong>
            <i class='fa fa-leaf' style="margin-left: 5px;"></i>
 
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    </header>

    <main role="main">
      
      
      <div class="container">
        <br>
       
          <div class="row">
            <div class="col-md-4 col-xs-4 col-sm-4">
               <p>* Uploaded Image List</p>
                <div style=" width: 100%; overflow: auto; height:300px; border: solid 1px #e8e8e8e8; padding: 10px;">
                  
                  <div class="imgs_wrap_d" style="width: 100%;">
                      <img id="img"/>
                  </div>
                </div>
                <div style="margin-top: 10px; float:right;">
                  <span class="btn btn-sm btn-dark"><label for="image_upload"><i class="fa fa-upload"></i> Upload</label></span>
                  <input type="file" id="image_upload" accept="image/*" multiple style="display: none;"/>
                  <span class="btn btn-sm btn-dark btn-check-all-d"><label for="check-all-d"><i class="fa fa-check-square-o"></i> Select All</label></span>
                  <input type="checkbox" id="check-all-d" style="display: none;"/>
                    
                </div>
              
            </div>
            <div class="col-md-4 col-xs-4 col-sm-4">
              <p>* Check Image</p>
                <canvas id="check_back" style=" width: 100%;  height:300px; border: solid 1px #e8e8e8e8; padding: 10px;"></canvas>
            </div>

            <div class="col-md-4 col-xs-4 col-sm-4">
              <p>* Traits </p>
              <div style="width: 100%; overflow: auto; height: 300px; border: solid 1px #e8e8e8e8; padding: 10px;">
                <div> <input type='checkbox' id='trait_1'> Dark / Green / Light (color) </input> </div>
                
                <div> <input type='checkbox' id='trait_2'> GCC (color) </input> </div>
                <div> <input type='checkbox' id='trait_3'> ExGI (color) </input> </div>
                <div> <input type='checkbox' id='trait_4'> Convex hull (growth) </input> </div>
                <div> <input type='checkbox' id='trait_5'> Perimeter (growth) </input> </div>
                <div> <input type='checkbox' id='trait_6'> Projected area (growth) </input> </div>
                <div> <input type='checkbox' id='trait_7'> Compactness (growth) </input> </div>
                <div> <input type='checkbox' id='trait_8'> Stockiness (growth) </input> </div>
                
              </div>
              <div style="margin-top: 10px; float:right;">
                <span class="btn btn-sm btn-dark" onClick="Analyze();"> <label> <i class="fa fa-camera"></i> Analyze </label></span>
                
              </div>
            </div>

            <div class="dim-layer">
              <div class="dimBg"></div>
              <div id="analysis_popup" class="pop-layer">
                  <div class="pop-container">
                      <div class="pop-conts">
                          <!--content //-->
                          <p class="text-c">AraDQ analyze<br><br>
                                <div class="loader"></div><br>
                                <p class="text-c">Please wait...</p><br>

                          </p>
          
                          
                        </div>
                      </div>
                  </div>
              </div>
                

                      
          

          </div>
          <!-- <hr/>
          <div class="row">
           
            
            <div class="col-md-6 col-xs-6 col-sm-6">
              <p>* Result Image </p>
              <div id='result_image'>
                <canvas id="result_back"></canvas>
                <canvas id="result_region"></canvas>
               </div>
            </div>

           
          </div> -->

      </div>
    </main>

    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <!-- <p>&copy; </p> -->
        <!-- <p>New to Bootstrap? <a href="../../">Visit the homepage</a> or read our <a href="../../getting-started/">getting started guide</a>.</p> -->
      </div>
    </footer>
  <script src="{{ url_for('static', filename='js/jquery-3.1.1.min.js') }}"></script>
 	<script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/holder.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/aradq.js') }}"></script>

<script>
       var sel_files = [];
       var index = 0;
       var check_canvas_back = document.getElementById('check_back');
       var check_ctx_back = check_canvas_back.getContext('2d');
      //  var check_canvas_region = document.getElementById('check_region');
      //  var check_ctx_region = check_canvas_region.getContext('2d');
       $(document).ready(function() {
                $('#image_upload').on('change', handleImgFileSelect);
        });

      function handleImgFileSelect(e)
      {
        console.log('handleImgFileSelect');
        var files = e.target.files;

        console.log(files);
        var filesArr = Array.prototype.slice.call(files);
        console.log(filesArr);
        
        filesArr.forEach(function(f) {
            if(!f.type.match('image.*')) {
                alert('이미지 파일만 업로드 해주세요.');
                return;
            }
          sel_files.push(f);
            
          var html = "<div class='"+index+"' style='margin-bottom: 1px; height:100%; width:100%; display:flex; '>"
          + "<div style='width:7%;'>" + "<input type='checkbox' id='"+index+"'/>" + "</div>"
          + "<div style='width: 65%;'>"+"<p>" +f.name +"</p>" + "</div>" 
          
          + "<div style='width: 28%'>"+"<img id='d_org_id_" + index + "' src='" + URL.createObjectURL(f) + "' data-file='"+f.name+"'style='width:30%; height: 60%' onClick='clickUploadedImage(" + index +")'/>" 
          +"</div>"
          +"</div>";
          
          $('.imgs_wrap_d').append(html);
                    
            index++;
        });

        $(".btn-check-all-d").click(function() { //select all
          $.each($(".imgs_wrap_d").find("input[type=checkbox]"), function() {
            if($("#check-all-d").is(":checked")) {
              $(this).prop("checked", true);
            } else {
              $(this).prop("checked", false);
            }
          });
        });
      }


      function clickUploadedImage(i) //리스트박스에서 이미지 선택 시 호출
      {
          console.log(i);
          console.log(sel_files);
          temp_idx = i;
                

          
          var image = new Image();
         
          image.onload = draw;
          image.onerror = failed;
          image.src = URL.createObjectURL(sel_files[i]);
    
        }
        function draw() 
        {
         
          
          var scale = Math.max(check_canvas_back.width / this.width, check_canvas_back.height / this.height);
          console.log("scale:",scale);
          
          var x = (check_canvas_back.width / 2) - (this.width / 2) * scale;
          var y = (check_canvas_back.height / 2) - (this.height / 2) * scale;
          console.log("x:",x);
          console.log("y:",y);

          check_ctx_back.drawImage(this, x, y, this.width * scale, this.height * scale);
        }
        function failed() 
        {
            alert("The provided file couldn't be loaded as an Image media");
        }
        
        function Analyze()
        {
            console.log(sel_files);
            console.log(sel_files.length);
            if(sel_files.length==0)
            {
                alert("Please upload image(s).");
                return;
            }
            var formData = new FormData();
            var img_cnt=[];
            $.each($(".imgs_wrap_d").find("input[type=checkbox]"), function() {
			    	var index = $(this).attr("id");
			    	console.log('my_id',index);
			    	if($(this).is(":checked")) {
                        //alert('here');
                        formData.append("files", sel_files[index]);
                        img_cnt.push(index);
                        
			    	}
			    });
          if (img_cnt.length==0)
          {
              alert("No selected image(s). Please check the checkbox.");
              return;
          }
          layer_popup('#analysis_popup');
          $.ajax({
                	url : "/analyze" ,
                	data : formData ,
                	type : "POST" ,
                	cache : false ,
                	contentType : false ,
                	processData : false ,
                	success : function(response) 
                  {
                    close_popup('#analysis_popup');
                    alert("Now, you can check the results ( path : "  + response.path + " )"); 
                  },
                	error : function(error) 
                  {
                    close_popup('#analysis_popup');
                    alert('error');
                    
                	}
                });
        }
  </script>
  </body>
</html>
